/* jetbrains-mono-regular - latin */
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/jetbrains-mono-v6-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/jetbrains-mono-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/jetbrains-mono-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/jetbrains-mono-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/jetbrains-mono-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/jetbrains-mono-v6-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
  }
  
  /* jetbrains-mono-700 - latin */
  @font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/jetbrains-mono-v6-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/jetbrains-mono-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/jetbrains-mono-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/jetbrains-mono-v6-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/jetbrains-mono-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/jetbrains-mono-v6-latin-700.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
  }
  
:root {
	--bg: #1E1C31;
	--tr: #2D2B40;
	--fg: #CBE3E7;
	--gr: #8A889D;
	--pr: #A37ACC;
	--bl: #91DDFF;
	--rd: #F48FB1;
}

body, html {
	background-image: url("../images/bg.png");
	background-color: var(--bg); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: var(--fg);
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.9em;
}

a {
	color: var(--pr);
	text-decoration: none;
}

#container {	
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#terminal {
	background-color: var(--tr);
	width: 490px;
	height: 515px;
	padding: 10px;
	border: 2px solid var(--fg);
	border-radius: 5px;
}

#date {
	text-align: center;
}

#cli-input {
	background-color: inherit;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

#groups {
	text-align: center;
}

.user {
	color: var(--bl);
	font-weight: bold;
}
